@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.ContactPage {
  background: linear-gradient(to bottom right, #fff0f5, #e6e6fa);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  transition: transform 0.3s;
}

.ContactPage:hover {
  transform: scale(1.02);
}

.ContactPage h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
  animation: fadeInDown 1s ease-in-out;
}

.ContactPage p {
  font-size: 18px;
  line-height: 1.8;
  color: #555;
  max-width: 600px;
  margin-bottom: 30px;
  animation: fadeInUp 1s ease-in-out;
}

.contact-image {
  max-width: 100%;
  border-radius: 16px;
  margin-bottom: 30px;
  animation: fadeIn 1s ease-in-out;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  max-width: 400px;
  padding: 12px 15px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: border-color 0.3s ease-in-out;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.contact-form .send-button {
  background-color: #ff6b6b;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.contact-form .send-button:hover {
  background-color: #ff5252;
  transform: translateY(-3px);
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 18px;
  color: #333;
  animation: fadeInLeft 1s ease-in-out;
}

.contact-item i {
  font-size: 24px;
  margin-right: 10px;
  color: #ff6b6b;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.contact-item:hover i {
  color: #ff5252;
  transform: rotate(10deg);
}
.ContactPage img{
    width: 500px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
